/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f4f4f4;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "empresas formularios usuario"
        "barras barras torta";

        gap: 20px;
        width: 100%;
        margin: 0 auto;
        height: 100%; 
        background-color: white;
}

/* Estilo de cada cuadro */
.cuadro {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cuadro:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/* Específicos para la ubicación de cada cuadro */
.cuadro-empresas {
    grid-area: empresas;
}

.cuadro-formularios {
    grid-area: formularios;
}

.cuadro-usuario {
    grid-area: usuario;
}

.cuadro-grafico-barras {
    grid-area: barras;
}

.cuadro-grafico-torta {
    grid-area: torta;
}

/* Títulos y textos */
.card-title {
    font-size: 1.4em;
    font-weight: 600;
    color: #495057;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
    color: #6c757d;
    text-align: center;
    line-height: 1.5;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "usuario"
            "empresas"
            "formularios"
            "barras"
            "torta";
    }
    .cuadro {
        padding: 15px;
    }
    .card-title {
        font-size: 1.2em;
    }
    .card-text {
        font-size: 0.9em;
    }
}
