body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    height: 100%; 
    background-color: white;
}

.cuadro {
    
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    background-color: white;
    height: 100%; /* Agregamos esta propiedad para que los cuadros tengan un alto del 100% del contenedor */
    display: flex; /* Agregamos esta propiedad para que el contenido se centre verticalmente */
    justify-content: center; /* Agregamos esta propiedad para que el contenido se centre horizontalmente */
    align-items: center; /* Agregamos esta propiedad para que el contenido se centre verticalmente */
}

.cuadro-1 {
    border-color: red;
}

.cuadro-2 {
    border-color: blue;
}

.cuadro-3 {
    border-color: green;
}

.cuadro-4 {
    border-color: orange;
}

.cuadro-5 {
    border-color: purple;
}

.cuadro-6 {
    border-color: yellow;
}