.crud {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;  /* Si el contenido excede, se habilitará el desplazamiento vertical */
}
.tablita{
    width: 90%;
    padding-top: 50px;
}
.ag-theme-quartz {
    /* Cambia el color del texto de la tabla */
    --ag-foreground-color: rgb(0, 0, 0);
    /* Cambia el color de fondo de la tabla */
    --ag-background-color: #E0F2FE;
    /* Cambia el color de fondo del encabezado de la fila superior */
    --ag-header-background-color: #E0F2FE;
    /* Cambia el color al pasar el cursor sobre una fila */
    --ag-row-hover-color: #BAE6FD;
}
.create-nuevo{
    width: 100%;
    padding: 20px;
    padding-right: 80px;
    display: flex;
    justify-content: end;
}
.titulo{
    color: white;
    font-size: 40px;
}

.multitabla{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario{
    margin-top: 30px;
    width: 90%;
}
.formulario button{
    margin-bottom: 15px;
}


.tblmulti{
    width: 48%;
}

.tblmulti button{
    margin-bottom: 15px;
}

.tt-menu {
    width: 100% !important;
    background-color: #7e7e7e !important;
    border: 1px solid #ffffff !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.tt-suggestion {
    padding: 10px !important;
    cursor: pointer !important;
}

.tt-suggestion:hover {
    background-color: #000000 !important;
}

.tt-suggestion.tt-cursor {
    background-color: #c5c5c5 !important;
}


/* Nuevos estilos para la tabla móvil */
.mobile-table {
    display: none;
    width: 100%;
    padding: 10px;
}

.mobile-table-header {
    background-color: #E0F2FE;
    color: #63869e;
    padding: 10px;
    text-align: center;
}

.mobile-table-body {
    background-color: #E0F2FE;
}

.mobile-table-row {
    border-bottom: 1px solid #454d55;
    padding: 10px;
}

.mobile-table-cell {
    padding: 5px 0;
    color: #63869e;
}

.mobile-table-actions {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

/* Media queries */
@media (max-width: 1024px) {
    .tablita {
        display: none;
    }

    .mobile-table {
        display: block;
    }

    .create-nuevo {
        padding: 20px;
        justify-content: center;
    }

    .titulo {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 24px;
    }

    .create-nuevo {
        padding: 10px;
    }

    .mobile-table-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .mobile-table-actions button {
        margin-bottom: 5px;
    }
}

/* Añadir esto a tu archivo CSS existente */
.mobile-search {
    padding: 10px;
    background-color:  #87a3b6;
}

.mobile-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #343a40;
    border-radius: 4px;
    color: #63869e;
}

.mobile-search input::placeholder {
    color: #6c757d;
}

.mobile-table-row.hidden {
    display: none;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item .page-link {
    background-color: #E0F2FE;
    border-color: #454d55;
    color: #868686;
}

.pagination .page-item.active .page-link {
    background-color: #57829e;
    border-color: #57829e;
    color: #cccccc;
}

.pagination .page-item.disabled .page-link {
    background-color: #E0F2FE;
    border-color: #454d55;
    color: #515e68;
}

.hidden {
    display: none;
}

.prueba{
    color: #63869e;
    display: flex;
    flex-direction: column;
}