.encuesta{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 85vh;
}
.crud {
    overflow-y: hidden !important; 
}
#progreso-general{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0F2FE;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    
}
.navegacion{
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    justify-content: end;
    align-items: end;
}
.avance{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;
}
.avance::-webkit-scrollbar {
display: none;              /* Oculta la barra en WebKit */
}
.progreso{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.progress{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.308);
}

.contenebus{
    width: 50%;
}
.encuinpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.enviarencu{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    

}
.ambitos-container{
    background-color: #E0F2FE;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 10px;
    width: 60%;
    height: 75vh;
}
.buscador{
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #E0F2FE;
    margin-top: 20px;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    height: 75vh;
}
.ambito{
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 60vh;
}
.ambito::-webkit-scrollbar {
    display: none;              /* Oculta la barra en WebKit */
}
.pre1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
.encabepre{
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra en la parte inferior */
}
.pre3{
    background-color: #b7def8;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 8px;
    font-size: 25px;
}

.pre-enca{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pre-item{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.pre2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;

}
.r1,.r2,.r3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    text-align: center;
}
.tt-menu {
    width: 100% !important;
    background-color: #ffffff !important;
    border: 1px solid #7e7e7e !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.tt-suggestion {
    padding: 10px !important;
    cursor: pointer !important;
}

.tt-suggestion:hover {
    background-color: #ffffff !important;
}

.tt-suggestion.tt-cursor {
    background-color: #cecece !important;
}
