.encuesta {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 85vh;
}

.crud {
    overflow-y: hidden !important; 
}

#progreso-general {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0F2FE;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.navegacion {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
}
.avance{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;
}
.avance::-webkit-scrollbar {
display: none;              /* Oculta la barra en WebKit */
}
.progreso{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.progress{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.308);
}

.contenebus{
    width: 50%;
}
.encuinpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.enviarencu{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    

}
.texto-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ambitos-container{
    background-color: #E0F2FE;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 10px;
    width: 60%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buscador{
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #E0F2FE;
    margin-top: 20px;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    height: 75vh;
}
.ambito{
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 60vh;
}
.ambito::-webkit-scrollbar {
    display: none;              /* Oculta la barra en WebKit */
}
.pre1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
.encabepre{
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra en la parte inferior */
}
.pre3{
    background-color: #b7def8;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 8px;
    font-size: 25px;
}

.pre-enca{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pre-item{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.pre2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;

}
.r1,.r2,.r3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    text-align: center;
}
.tt-menu {
    width: 100% !important;
    background-color: #ffffff !important;
    border: 1px solid #7e7e7e !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.tt-suggestion {
    padding: 10px !important;
    cursor: pointer !important;
}

.tt-suggestion:hover {
    background-color: #ffffff !important;
}

.tt-suggestion.tt-cursor {
    background-color: #cecece !important;
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .encuesta {
        flex-direction: column;
        max-height: none;
    }

    .buscador, .ambitos-container {
        width: 100%;
        margin-left: 0;
    }

    .avance {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .progreso {
        width: 45%;
    }

    .encabepre {
        flex-direction: column;
    }

    .pre1, .pre2 {
        width: 100%;
    }

    .pre-item {
        flex-direction: column;
    }

    #progreso-general {
        width: 90%; /* En tablets, se puede ajustar a un 90% */
        max-width: 400px; /* Limita el ancho máximo */
    }
    
}

/* Estilos para móviles */
@media (max-width: 767px) {
    .titulo-pregunta{
        display: none !important;
    }
    #progreso-general {
        position: fixed; /* Lo mantiene fijo en la pantalla */
        top: 120px; /* Lo coloca a 10px del borde superior */
        left: 50%; /* Lo coloca en el centro horizontal */
        transform: translateX(-50%); /* Ajusta para que esté perfectamente centrado */
        width: 95%; /* Ajusta el ancho según el tamaño de la pantalla */
        z-index: 9980; /* Asegura que esté por encima de otros elementos */
        display: block; /* Asegura que esté visible siempre */
        box-shadow: 4px 4px 8px rgba(0.2, 0.2, 0.2, 0.2); /* Sombra alrededor del contenedor */
        border: 1px solid #3d5e74; /* Borde de 2px de grosor, color azul */
    }
    .encuesta {
        flex-direction: column;
        max-height: none;
    }

    .buscador, .ambitos-container {
        width: 100%;
        margin-left: 0;
    }

    .contenebus {
        width: 100%;
    }

    .avance {
        padding: 10px;
    }

    .progreso {
        width: 100%;
    }

    .encabepre {
        flex-direction: column;
    }

    .pre1, .pre2 {
        width: 100%;
    }

    .pre-item {
        flex-direction: column;
    }

    .navegacion {
        display: flex; /* Cambiado para que los botones se alineen en línea */
        flex-direction: row; /* Se cambia a fila en lugar de columna */
        gap: 5px; /* Espacio entre los botones */
        width: 100%;
        justify-content: space-between; /* Opcional, para distribuir los botones de manera equitativa */
    }
    #progreso-general {
        width: 95%; /* En móviles, el progreso ocupará todo el ancho */
        max-width: 95%; /* Asegura que el progreso no sea mayor que el ancho de la pantalla */
    }

    #progreso-general {
        position: fixed; /* Lo mantiene fijo en la pantalla */
        top: 120px; /* Lo coloca a 10px del borde superior */
        left: 50%; /* Lo coloca en el centro horizontal */
        transform: translateX(-50%); /* Ajusta para que esté perfectamente centrado */
        width: 95%; /* Ajusta el ancho según el tamaño de la pantalla */
        z-index: 9980; /* Asegura que esté por encima de otros elementos */
        display: block; /* Asegura que esté visible siempre */
        box-shadow: 4px 4px 8px rgba(0.2, 0.2, 0.2, 0.2); /* Sombra alrededor del contenedor */
        border: 1px solid #3d5e74; /* Borde de 2px de grosor, color azul */
    }
}
