*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.box-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center  ;
    justify-content: start;
    font-size: 50px;
    background-color: #1953d133;
}

.box-rigth {
    flex-grow: 1; /* El contenido de la derecha ocupa todo el espacio restante */
    display: flex;
    flex-direction: column;
}



.contenido {
    flex-grow: 1; /* El contenido de abajo ocupará el resto del espacio vertical */
    background-color: #333;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.menu img{
    width: 250px;
}

.nav-link{
    color: black !important;

}
a{
    font-size: x-large !important;
}
.cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}
.cerrar a{
    text-decoration: none;
    color: black;
}
ol ,ul{
    padding-left: 0  !important;
}

.cerrar a:hover {
    color: #FFFFFF; /* Vuelve blanco al pasar el mouse */
}
.nav-link:hover {
    color: white !important; /* Cambiar a un color amarillo al pasar el mouse */
}